<h1><%= @peep.full_name %></h1>
<p id="notice"><%= notice %></p>

<p><a href="mailto:<%= @peep.email %>"><%= @peep.email %></a></p>
<% if @peep.twitter? %>
  <p><a href="http://twitter.com/<%= @peep.twitter %>">@<%= @peep.twitter %></a></p>
<% end %>
<% if @peep.dietary_requirements? %>
  <p>Dietary requirements: <%= @peep.dietary_requirements %></p>
<% else %>
  <p>No special dietary requirements.</p>
<% end %>
<p>Has <%= "not " unless @peep.form_returned %>returned form.</p>
<%= link_to 'Edit', edit_peep_path(@peep) %> |
<%= link_to 'Back', peeps_path %>
